<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>demo</title>
</head>
<body>
<p>BEGIN</p>
<p><font color="blue"><label th:text="${student.id}"></label></font> </p>
<p><font color="red" label th:text="${student.name}"></fontlabel></font></p>
<p><label th:text="${student.grade}"></label></p>
<p><label th:text="${student.money}"></label></p>
<p><label th:text="${student.title}"></label></p>
<p><label th:text="${student.flag}"></label></p>
</body>
</html>